<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-rfPl7UHwaHyXh/n5kFubgXzPE1QcgUOk9qyasE7bw4YTXgJ7A5Y/ljxbuNFETD7L" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="shortcut icon" href="/resources/images/ivy_favicon_48.png">

    <title>Axon.ivy {{ versionStr }} Update Site</title>
  </head>
  <body style="padding-top: 5.5rem;">

{{ include('includes/navigation.html') }}

    <main role="main">

      <div class="jumbotron bg-light">
        <div class="container">
          <h1 class="display-3"><i class="fa fa-download"></i> {{ versionStr }} Update Site</h1>
          <p><strong>Current version: {{ latestVersion }}</strong> </p>
          <p>This URL is an P2 software repository. You can use it in the Axon.ivy Designer.<br />
          <code>Help &gt; Install New Software &gt; Works with:</code> <strong><code><a href="https://download.axonivy.rocks/p2/{{ version }}/">https://download.axonivy.rocks/p2/{{ version }}/</a></code></strong></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>Update or Install Axon.ivy features</h2>
            <p>Use the current Uri as Update Site to update Axon.ivy or install additional features.</p>
            <p><img src="/resources/images/InstallOrUpdateSoftware.png" class="img-fluid" alt="Responsive image"></p>
          </div>
        </div>
        <hr>
      </div>

    </main>

    <footer class="container">
      <p>&copy; AXON IVY {{ "now"|date("Y") }}</p>
    </footer>

  </body>
</html>