  	<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  		<a class="navbar-brand" href="/"><i class="fa fa-download"></i> Axon Ivy Updates</a>
  		
  		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ 'lts-8.0' in version ? 'active' : '' }}">
            <a class="nav-link" href="/lts-8.0/">LTS 8.0</a>
          </li>
          <li class="nav-item {{ 'sprint' in version ? 'active' : '' }}">
            <a class="nav-link" href="/sprint/">Sprint Release</a>
          </li>
          <li class="nav-item {{ 'nightly' in version ? 'active' : '' }}">
            <a class="nav-link" href="/nightly/">Nightly Build</a>
          </li>
        </ul>
      </div>
  	</nav>